ersion: '3'
services:
  sd-webui:
    image: woodrex/sd-webui-for-gfx803:latest
    container_name: sd-webui-for-gfx803:latest
    privileged: true
    network_mode: host
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    ipc: host
    shm_size: 16G
    user: root
    group_add:
      - video
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp=unconfined
    volumes:
      - ${HOME}/dockerx:/dockerx
      - ${PWD}:/current
      - ./cache:/root/.cache
      - ./data:/stable-diffusion-webui/data
      - ./outputs:/stable-diffusion-webui/outputs
